<module name="Checker">
    <module name="TreeWalker">
        <module name="JavadocType">
            <property name="scope" value="public"/>
            <!-- Add this line if you want to enforce JavaDoc on package-private types -->
            <property name="excludeScope" value="private"/>
        </module>
        <module name="JavadocMethod">
            <property name="scope" value="public"/>
            <!-- Add this line if you want to enforce JavaDoc on package-private methods -->
            <property name="excludeScope" value="private"/>
        </module>
        <module name="JavadocVariable">
            <property name="scope" value="public"/>
            <!-- Add this line if you want to enforce JavaDoc on package-private variables -->
            <property name="excludeScope" value="private"/>
        </module>
        <module name="ConstantName">
            <property name="format" value="^[A-Z][A-Z0-9]*(_[A-Z0-9]+)*$"/>
        </module>
    </module>
</module>
